@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10rem;
}
header .header-content .header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header-content .header-center a {
  font-size: 1.5rem;
  margin: 0 3.5rem;
  color: #323232;
  text-decoration: none;
  transition: 0.25s;
  display: flex;
}
header .header-content .header-center a * {
  font-family: Nebula-Regular, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header .header-content .header-center a span {
  transition: 0.5s;
  display: block;
}
header .header-content .header-center a:hover span {
  transform: rotateY(-180deg);
}
header .header-content .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-content .header-right a {
  margin: 0 0 0 1.25rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.65rem;
  transition: 0.5s;
}
header .header-content .header-right a:hover {
  background-color: #f5f6f7;
  transform: translate(0, -0.25rem);
}
header .header-content .header-right a img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-section {
  width: 100%;
  position: relative;
}
.hero-section .hero-line-1 {
  width: 70%;
  height: 1px;
  background-color: #323232;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero-section .saim-box {
  width: 35%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-section .saim {
  width: 35vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
}
.hero-section .hero-heading-circle {
  position: absolute;
  bottom: 3.5rem;
  left: 3.5rem;
  z-index: 1220;
  color: #fff;
}
.hero-section .hero-section-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
  z-index: 9;
}
.hero-section .hero-section-content h1 {
  font-size: 10rem;
  position: relative;
}
.hero-section .hero-section-content h1 * div {
  font-family: Nebula-Regular, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hero-section .hero-section-content h1 .hh-h1-box {
  width: 12.5rem;
  height: 3rem;
  position: absolute;
  top: 5rem;
  left: 7.5rem;
  z-index: 10;
}
.hero-section .hero-section-content h1 .hh-h1-box span {
  width: 12.5rem;
  height: 3rem;
  background-color: #323232;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-section .hero-section-content h1 .hero-heading-line-1 {
  width: 45%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  right: -10%;
}
.hero-section .hero-section-content h1 .hero-heading-line-2 {
  width: 25%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 0;
  left: 10%;
}
.hero-section .hero-section-content h2 {
  font-size: 1.65rem;
  font-weight: 400;
  margin: -0.75rem 0 3.5rem 0;
  letter-spacing: 1.25rem;
  text-align: center;
}
.hero-section .hero-section-content button {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1.25rem 3.5rem;
  font-size: 1.5rem;
  color: #fff;
}

.why-section {
  width: 100%;
  padding: 7.5rem 0;
}
.why-section .why-section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-section .why-section-content p {
  width: 65%;
  text-align: center;
  margin: 3.5rem 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.why-section .why-section-content a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.why-section .why-section-content a i {
  margin: 0 0 0 1.5rem;
  font-size: 1.65rem;
}

.packages-section {
  width: 100%;
  padding: 7.5rem 0;
}
.packages-section .packages-section-content {
  width: 100%;
  margin: 7.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.packages-section .packages-grid {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.packages-section .packages-grid .packages-grid-card {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f5f6f7;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
}
.packages-section .packages-grid .packages-grid-card .pgc-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.packages-section .packages-grid .packages-grid-card .pgc-top h4 {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
}
.packages-section .packages-grid .packages-grid-card .pgc-top .logo {
  transform: scale(0.65);
}
.packages-section .packages-grid .packages-grid-card .pgc-bottom {
  width: 100%;
  margin: 10rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.packages-section .packages-grid .packages-grid-card .pgc-bottom h5 {
  font-size: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.packages-section .packages-grid .packages-grid-card .pgc-bottom h5 span {
  font-size: 1.25rem;
  font-weight: 400;
}
.packages-section .packages-grid .packages-grid-card .pgc-bottom a {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
}
.packages-section .packages-grid .packages-grid-card .pgc-bottom a i {
  margin: 0 0 0 0.5rem;
}
.packages-section .packages-grid .packages-grid-card:hover {
  background-color: #323232;
  color: #fff;
  transform: scale(1.035);
}
.packages-section .packages-grid .packages-grid-card:hover a {
  color: #fff;
}
.packages-section .packages-grid .packages-grid-card:hover .logo {
  transform: scale(0.65) rotate(180deg);
}
.packages-section .packages-grid .packages-grid-card:hover .logo .logo-box {
  background-color: #fff;
}

.customers-section {
  width: 100%;
  padding: 7.5rem 0;
}
.customers-section .customers-section-content {
  width: 100%;
  margin: 7.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customers-section .customers-section-content .customers-grid {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.customers-section .customers-section-content .customers-grid .customers-grid-card {
  width: 100%;
  padding: 3.5rem;
  border-radius: 1rem;
  background-color: #f5f6f7;
}
.customers-section .customers-section-content .customers-grid .customers-grid-card img {
  width: 100%;
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.testimonials-section {
  width: 100%;
  padding: 7.5rem 0;
}
.testimonials-section .testimonials-section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7.5rem 0 0 0;
}
.testimonials-section .testimonials-section-content .testimonials-swiper-grid {
  width: 75%;
  display: flex;
  align-items: center;
  position: relative;
}
.testimonials-section .testimonials-section-content .testimonials-pagination {
  position: absolute;
  top: unset;
  bottom: 0;
  left: 50%;
  right: unset;
  transform: translate(-50%, 5rem);
}
.testimonials-section .testimonials-section-content .testimonials-pagination .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.15);
  opacity: 1;
  width: 6px;
  height: 6px;
  transition: 0.5s;
}
.testimonials-section .testimonials-section-content .testimonials-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 1;
  width: 25px;
  border-radius: 1000px;
  height: 6px;
}
.testimonials-section .testimonials-section-content .testimonials-navigation-box {
  width: 3.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-section .testimonials-section-content .testimoonial-left {
  margin: 0 3.5rem 0 0;
}
.testimonials-section .testimonials-section-content .testimoonial-right {
  margin: 0 0 0 3.5rem;
}
.testimonials-section .testimonials-section-content .testimoonial-left,
.testimonials-section .testimonials-section-content .testimoonial-right {
  min-width: 3.5rem;
  max-width: 3.5rem;
  min-height: 3.5rem;
  max-height: 3.5rem;
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #000;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}
.testimonials-section .testimonials-section-content .testimoonial-left:hover,
.testimonials-section .testimonials-section-content .testimoonial-right:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
}
.testimonials-section .testimonials-section-content .testimonial-slide-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #323232;
  color: #fff;
  padding: 2.5rem;
  border-radius: 1.5rem;
}
.testimonials-section .testimonials-section-content .testimonial-slide-card h3 {
  font-size: 2.5rem;
}
.testimonials-section .testimonials-section-content .testimonial-slide-card h4 {
  font-size: 1.35rem;
  font-weight: 400;
  opacity: 0.5;
  margin: 0.5rem 0 1.5rem 0;
}
.testimonials-section .testimonials-section-content .testimonial-slide-card p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

footer {
  margin: 15rem 0 0 0;
}
footer .footer-top .logo {
  transform: scale(2) translate(1rem, 0);
}
footer .footer-top p {
  width: 50%;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2.5rem 0 0 0;
  color: rgba(0, 0, 0, 0.85);
}
footer .footer-center {
  width: 100%;
  margin: 3.5rem 0;
  background-color: #f5f6f7;
}
footer .footer-center .fc-content {
  padding: 5rem 0;
}
footer .footer-center .fc-content .fc-top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
  margin: 0 0 5rem 0;
  padding: 0 0 5rem 0;
  border-bottom: 1px solid #323232;
}
footer .footer-center .fc-content .fc-top h6 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  padding: 0.5rem 0;
}
footer .footer-center .fc-content .fc-top h6 span {
  font-weight: 500;
}
footer .footer-center .fc-content .fc-top h6:nth-child(2) {
  text-align: center;
  border-left: 1px solid #323232;
  border-right: 1px solid #323232;
}
footer .footer-center .fc-content .fc-top h6:nth-child(3) {
  text-align: right;
}
footer .footer-center .fc-content .fc-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-gap: 0;
  position: relative;
}
footer .footer-center .fc-content .fc-bottom .fcb-left {
  display: flex;
  align-items: center;
}
footer .footer-center .fc-content .fc-bottom .fcb-left a {
  margin: 0 1.5rem 0 0;
}
footer .footer-center .fc-content .fc-bottom .fcb-left img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.75;
}
footer .footer-center .fc-content .fc-bottom .fcb-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .footer-center .fc-content .fc-bottom .fcb-right .back-to-top {
  min-width: 3.5rem;
  max-width: 3.5rem;
  min-height: 3.5rem;
  max-height: 3.5rem;
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}
footer .footer-center .fc-content .fc-bottom .fcb-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .footer-center .fc-content .fc-bottom .fcb-center a {
  font-size: 1.35rem;
  color: #000;
  margin: 0 3.5rem;
}
footer .footer-bottom {
  width: 100%;
  margin: 0 0 2.5rem 0;
}
footer .footer-bottom .fb-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .fb-content h6 {
  font-size: 1.35rem;
  font-weight: 400;
  color: #323232;
}

.contact-hero-section {
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.contact-hero-section .chs-heading-container {
  background-color: #f5f6f7;
}
.contact-hero-section .chs-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-hero-section .chs-grid-container {
  width: 100%;
  height: 35vh;
  background-color: #fff;
}
.contact-hero-section .chs-grid-container .chs-grid {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  grid-template-rows: auto;
  grid-gap: 5rem;
}
.contact-hero-section .chs-grid-container .chs-grid .chs-grid-card {
  width: 100%;
  background-color: #323232;
  padding: 3.5rem;
  color: #fff;
  border-radius: 1.5rem;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-hero-section .chs-grid-container .chs-grid .chs-grid-card h4 {
  font-size: 2.25rem;
  text-align: center;
}
.contact-hero-section .chs-grid-container .chs-grid .chs-grid-card span {
  width: 5rem;
  height: 1px;
  display: flex;
  background-color: #f5f6f7;
  margin: 0.5rem 0 2.5rem 0;
}
.contact-hero-section .chs-grid-container .chs-grid .chs-grid-card p {
  font-size: 1.5rem;
  text-align: center;
}

.fiverr-upwork-section {
  width: 100%;
}
.fiverr-upwork-section .fus-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fiverr-upwork-section .fus-content h3 {
  font-size: 2.5rem;
}
.fiverr-upwork-section .fus-content .fus-grid {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  margin: 7.5rem auto 0 auto;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card {
  width: 100%;
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card a {
  font-size: 1.25rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
  z-index: 10;
  transition: 0.5s;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card a i {
  margin: 0 0 0 0.5rem;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card * {
  transition: 0.25s;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card svg {
  height: 4em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -o-object-fit: contain;
     object-fit: contain;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card img {
  height: 4em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -o-object-fit: contain;
     object-fit: contain;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card:hover a {
  transform: translate(-50%, -1.25rem);
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card:nth-child(1) {
  background-color: #404145;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card:nth-child(1) .f-l-c {
  fill: #fff !important;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card:nth-child(2) {
  background-color: #14a800;
}
.fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card:nth-child(2) .u-l-c {
  fill: #fff !important;
}

.portfolio-grid-section {
  width: 100%;
}
.portfolio-grid-section .portfolio-grid {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  margin: 5rem auto 0 auto;
}
.portfolio-grid-section .portfolio-grid .portfolio-grid-card {
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.portfolio-grid-section .portfolio-grid .portfolio-grid-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: 0.5s;
  height: 27.5rem;
  position: relative;
  z-index: 15;
}
.portfolio-grid-section .portfolio-grid .portfolio-grid-card div {
  width: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  overflow: hidden;
  background-color: #323232 !important;
}
.portfolio-grid-section .portfolio-grid .portfolio-grid-card h2 {
  font-size: 2.5rem;
  font-weight: 500;
  z-index: 10;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
}
.portfolio-grid-section .portfolio-grid .portfolio-grid-card h2 i {
  font-size: 2rem;
  margin: 0 0 0 1.5rem;
  display: flex;
}
.portfolio-grid-section .portfolio-grid .portfolio-grid-card:hover img {
  filter: blur(10px);
}
.portfolio-grid-section .portfolio-grid .portfolio-grid-card:hover div {
  width: 100%;
}
.portfolio-grid-section .portfolio-grid .portfolio-grid-card:hover div h2 {
  opacity: 1;
}

.project-section {
  padding: 15rem 0 0 0;
}
.project-section .project-section-content {
  width: 65%;
  margin: 0 auto;
}
.project-section .project-section-content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 5rem 0 0 0;
  color: #323232;
}
.project-section .project-section-content .project-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.project-section .project-section-content .project-heading div h2 {
  font-size: 3.5rem;
  font-weight: 600;
}
.project-section .project-section-content .project-heading div h6 {
  font-size: 1.5rem;
  color: #949494;
  font-weight: 400;
}
.project-section .project-section-content .project-heading a {
  background-color: #323232;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.25rem 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.project-section .project-section-content .project-heading a i {
  margin: 0 0 0 0.75rem;
}
.project-section .project-section-content .projects-pictures-grid {
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  margin: 5rem 0 0 0;
}
.project-section .project-section-content .projects-pictures-grid img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-hero-section {
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.about-hero-section .chs-heading-container {
  padding: 15rem 0 6.5rem 0;
}
.about-hero-section .about-distorted-section {
  width: 100%;
  position: relative;
}
.about-hero-section .about-distorted-section .ads-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 35rem 1fr;
  grid-template-rows: auto;
  grid-gap: 7.5rem;
}
.about-hero-section .about-distorted-section .ads-content .adsc-left-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.about-hero-section .about-distorted-section .ads-content .adsc-center-box {
  width: 100%;
  position: relative;
}
.about-hero-section .about-distorted-section .ads-content .adsc-center-box .about-img-line-1 {
  width: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: 10;
}
.about-hero-section .about-distorted-section .ads-content .adsc-center-box .about-img-line-2 {
  width: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -1rem;
  right: 0;
  z-index: 10;
}
.about-hero-section .about-distorted-section .ads-content .about-img-box {
  width: 100%;
  height: 65rem;
  border-radius: 15rem 0 15rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.about-hero-section .about-distorted-section .ads-content img {
  width: 100%;
  height: 65rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15rem 0 15rem 0;
}
.about-hero-section .about-distorted-section .ads-content .adsc-right-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.about-hero-section .about-distorted-section .ads-content .stats-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
}
.about-hero-section .about-distorted-section .ads-content .stats-grid .stats-grid-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-hero-section .about-distorted-section .ads-content .stats-grid .stats-grid-card h3 {
  font-size: 5rem;
  color: #323232;
  font-weight: 500;
}
.about-hero-section .about-distorted-section .ads-content .stats-grid .stats-grid-card h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #323232;
}
.about-hero-section .about-distorted-section .ads-content .stats-grid .stats-grid-card h5 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #949494;
}
.about-hero-section .about-distorted-section .ads-content .quote-box {
  width: 100%;
}
.about-hero-section .about-distorted-section .ads-content .quote-box h6 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0 0 1rem 0;
  color: #000;
}
.about-hero-section .about-distorted-section .ads-content .quote-box i {
  font-size: 1.5rem;
  width: 100%;
  color: #323232;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.about-hero-section .about-left-line-circle-box {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.about-hero-section .about-left-line-circle-box .about-left-line {
  width: 1px;
  height: 90vh;
}
.about-hero-section .about-left-line-circle-box .about-left-line div {
  width: 1px;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.about-hero-section .about-left-line-circle-box .about-left-circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #fff;
  padding: 1rem;
}
.about-hero-section .about-left-line-circle-box .about-left-circle .dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #323232;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.para-section {
  width: 100%;
  margin: 15rem 0;
}
.para-section .para-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7.5rem 0 0 0;
}
.para-section .para-content p {
  width: 65%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #323232;
  text-align: center;
  margin: 0 0 2.5rem 0;
}
.para-section .para-content p span {
  color: green;
  font-weight: 600;
}

.tech-stack-section {
  width: 100%;
}
.tech-stack-section .tss-content {
  width: 75%;
  margin: 7.5rem auto 0 auto;
  padding: 5rem;
  background-color: #f5f6f7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
  overflow: hidden;
}
.tech-stack-section .tss-content .tech-box {
  width: 100%;
}
.tech-stack-section .tss-content .tech-box h6 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #323232;
  margin: 0 0 0.75rem 0;
}
.tech-stack-section .tss-content .tech-box .tech-bar {
  width: 100%;
  height: 0.75rem;
  background-color: rgba(0, 0, 0, 0.15);
}
.tech-stack-section .tss-content .tech-box .tech-bar .tech-bar-inner {
  position: relative;
  height: 0.75rem;
  background-color: rgba(0, 0, 0, 0.85);
}
.tech-stack-section .tss-content .tech-box .tech-bar .tech-bar-inner span {
  font-size: 1.35rem;
  position: absolute;
  top: 0;
  right: 0;
  color: #323232;
  transform: translate(0, -125%);
}

.last-imp {
  width: 100%;
  text-align: center;
  margin: 15rem 0 0 0;
  font-size: 1.65rem;
  font-weight: 500;
  font-style: italic;
}

.tech-stack-grid-simple {
  width: 75%;
  margin: 7.5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.tech-stack-grid-simple p {
  font-size: 1.5rem;
  width: 100%;
  color: #000;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  z-index: 2;
  transition: 0.5s;
}

.ts-grid-card-simple {
  width: 100%;
  position: relative;
  transition: 0.75s;
}
.ts-grid-card-simple .percentage-box {
  width: 0%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.15);
}
.ts-grid-card-simple:hover {
  background-color: rgba(0, 0, 0, 0.035);
}
.ts-grid-card-simple:nth-child(1):hover .percentage-box {
  width: 90%;
}
.ts-grid-card-simple:nth-child(2):hover .percentage-box {
  width: 85%;
}
.ts-grid-card-simple:nth-child(3):hover .percentage-box {
  width: 90%;
}
.ts-grid-card-simple:nth-child(4):hover .percentage-box {
  width: 95%;
}
.ts-grid-card-simple:nth-child(5):hover .percentage-box {
  width: 85%;
}
.ts-grid-card-simple:nth-child(6):hover .percentage-box {
  width: 80%;
}
.ts-grid-card-simple:nth-child(7):hover .percentage-box {
  width: 75%;
}
.ts-grid-card-simple:nth-child(8):hover .percentage-box {
  width: 80%;
}
.ts-grid-card-simple:nth-child(9):hover .percentage-box {
  width: 85%;
}
.ts-grid-card-simple:nth-child(10):hover .percentage-box {
  width: 50%;
}
.ts-grid-card-simple:nth-child(11):hover .percentage-box {
  width: 75%;
}
.ts-grid-card-simple:nth-child(12):hover .percentage-box {
  width: 60%;
}
.ts-grid-card-simple:nth-child(13):hover .percentage-box {
  width: 35%;
}
.ts-grid-card-simple:nth-child(14):hover .percentage-box {
  width: 80%;
}
.ts-grid-card-simple:nth-child(15):hover .percentage-box {
  width: 85%;
}

@font-face {
  font-family: Nebula-Hollow;
  src: url(../assets/fonts/Nebula/Nebula-Hollow.otf) format("WOFF");
  font-display: block;
}
@font-face {
  font-family: Nebula-Regular;
  src: url(../assets/fonts/Nebula/Nebula-Regular.otf) format("WOFF");
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  font-size: 10px;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.box {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

.nebula-regular {
  font-family: Nebula-Regular, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nebula-hollow {
  font-family: Nebula-Hollow, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-heading h3 {
  font-size: 2.5rem;
}
.section-heading h3 * {
  font-family: Nebula-Regular, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.section-heading h4 {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.85;
  margin: 0.75rem 0 0 0;
}

main {
  position: relative;
}

.logo-text-box {
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.logo-text-box h6 {
  font-size: 2.5rem;
  margin: 0 0 0 0.5rem;
}

.logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  transition: 0.5s;
}
.logo .logo-box {
  width: 1.75rem;
  height: 1.75rem;
  background-color: #323232;
  transform: rotate(45deg);
  transition: 0.5s;
}
.logo:hover .logo-box {
  transform: rotate(-45deg);
}

nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  bottom: 22.5rem;
  right: 0;
  transform: translate(15rem, 0) rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  font-size: 1.35rem;
  color: #323232;
  display: flex;
}
nav a span {
  transition: 0.5s;
  display: block;
  font-family: Nebula-Regular, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav a:hover span {
  transform: rotateY(-180deg);
}
nav i {
  width: 3px;
  height: 3px;
  background-color: #323232;
  border-radius: 50%;
  margin: 0 2.5rem;
  display: flex;
}

.breadcrumb-section {
  margin: 20rem 0 5rem 0;
  width: 100%;
}
.breadcrumb-section .bcs-content {
  width: 100%;
  display: flex;
  align-items: center;
}
.breadcrumb-section .bcs-content a {
  font-size: 1.5rem;
  color: #323232;
}
.breadcrumb-section .bcs-content span {
  font-size: 1.5rem;
  color: #323232;
  margin: 0 2rem;
}

.chs-heading-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.chs-heading-container h1 {
  font-size: 7.5rem;
  position: relative;
  text-align: center;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.chs-heading-container h1 .hero-heading-line-1 {
  width: 45%;
  height: 1px;
  background-color: #323232;
  position: absolute;
  top: 0;
  right: -10%;
}
.chs-heading-container h1 .hero-heading-line-2 {
  width: 25%;
  height: 1px;
  background-color: #323232;
  position: absolute;
  bottom: 0;
  left: 10%;
}
.chs-heading-container h5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2.5rem 0 0 0;
}

.circular-text {
  position: relative;
  border-radius: 100%;
  font-size: 1.25rem;
  font-weight: 400;
}

.circular-text span {
  position: absolute;
  transform-origin: top left;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100021;
  transition: 0.5s;
  overflow: hidden;
  padding: 5rem;
}
.loader .logo-box {
  width: 1rem;
  height: 1rem;
  transition: unset;
}
.loader .loading-box {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border-radius: 1000px;
}
.loader .loading-box p {
  font-size: 1.5rem;
  color: #000;
  margin: 0 0 0 0.5rem;
}

.page-heading * {
  font-family: Nebula-Regular, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}/*# sourceMappingURL=main.css.map */