.about-hero-section {
  width: 100%;
  position: relative;
  min-height: 100vh;
  .chs-heading-container {
    padding: 15rem 0 6.5rem 0;
  }
  .about-distorted-section {
    width: 100%;
    position: relative;

    .ads-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 35rem 1fr;
      grid-template-rows: auto;
      grid-gap: 7.5rem;
      .adsc-left-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
      }
      .adsc-center-box {
        width: 100%;
        position: relative;
        .about-img-line-1 {
          width: 50%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          bottom: -1rem;
          left: 0;
          z-index: 10;
        }
        .about-img-line-2 {
          width: 50%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: -1rem;
          right: 0;
          z-index: 10;
        }
      }
      .about-img-box {
        width: 100%;
        height: 65rem;
        border-radius: 15rem 0 15rem 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        // border: 1px solid rgba(50, 50, 50, 0.15);
        position: relative;
        overflow: hidden;
      }
      img {
        width: 100%;
        height: 65rem;
        object-fit: cover;
        border-radius: 15rem 0 15rem 0;
      }
      .adsc-right-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }
      .stats-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.5rem;
        .stats-grid-card {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          h3 {
            font-size: 5rem;
            color: #323232;
            font-weight: 500;
          }
          h4 {
            font-size: 1.5rem;
            font-weight: 400;
            color: #323232;
          }
          h5 {
            font-size: 1.25rem;
            font-weight: 400;
            color: #949494;
          }
        }
      }
      .quote-box {
        width: 100%;
        h6 {
          font-size: 1.75rem;
          font-weight: 400;
          line-height: 2.5rem;
          margin: 0 0 1rem 0;
          color: #000;
        }
        i {
          font-size: 1.5rem;
          width: 100%;
          color: #323232;
          text-align: right;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
  .about-left-line-circle-box {
    width: max-content;
    height: max-content;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    .about-left-line {
      width: 1px;
      height: 90vh;
      div {
        width: 1px;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    .about-left-circle {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      background-color: #fff;
      padding: 1rem;
      .dot {
        width: 0.5rem;
        height: 0.5rem;
        background-color: #323232;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
      }
    }
  }
}

.para-section {
  width: 100%;
  margin: 15rem 0;
  .para-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7.5rem 0 0 0;
    p {
      width: 65%;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: #323232;
      text-align: center;
      margin: 0 0 2.5rem 0;
      span {
        color: green;
        font-weight: 600;
      }
    }
  }
}
.tech-stack-section {
  width: 100%;
  .tss-content {
    width: 75%;
    margin: 7.5rem auto 0 auto;
    padding: 5rem;
    background-color: #f5f6f7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2.5rem;
    overflow: hidden;
    .tech-box {
      width: 100%;
      h6 {
        font-size: 1.5rem;
        font-weight: 400;
        color: #323232;
        margin: 0 0 0.75rem 0;
      }
      .tech-bar {
        width: 100%;
        height: 0.75rem;
        background-color: rgba(0, 0, 0, 0.15);
        .tech-bar-inner {
          position: relative;
          height: 0.75rem;
          background-color: rgba(0, 0, 0, 0.85);
          span {
            font-size: 1.35rem;
            position: absolute;
            top: 0;
            right: 0;
            color: #323232;
            transform: translate(0, -125%);
            // display: none;
          }
        }
      }
    }
  }
}
.last-imp {
  width: 100%;
  text-align: center;
  margin: 15rem 0 0 0;
  font-size: 1.65rem;
  font-weight: 500;
  font-style: italic;
}
.tech-stack-grid-simple {
  width: 75%;
  margin: 7.5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
  p {
    font-size: 1.5rem;
    width: 100%;
    color: #000;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    z-index: 2;
    transition: 0.5s;
    img {
      width: 2.25rem;
      height: 2.25rem;
      object-fit: contain;
      margin: 0 0.5rem 0 0;
    }
  }
}
.ts-grid-card-simple {
  width: 100%;
  position: relative;
  transition: 0.75s;
  .percentage-box {
    width: 0%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.15);
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.035);
  }
  &:nth-child(1):hover .percentage-box {
    width: 90%;
  }
  &:nth-child(2):hover .percentage-box {
    width: 85%;
  }
  &:nth-child(3):hover .percentage-box {
    width: 90%;
  }
  &:nth-child(4):hover .percentage-box {
    width: 95%;
  }

  &:nth-child(5):hover .percentage-box {
    width: 85%;
  }
  &:nth-child(6):hover .percentage-box {
    width: 80%;
  }
  &:nth-child(7):hover .percentage-box {
    width: 75%;
  }
  &:nth-child(8):hover .percentage-box {
    width: 80%;
  }

  &:nth-child(9):hover .percentage-box {
    width: 85%;
  }
  &:nth-child(10):hover .percentage-box {
    width: 50%;
  }
  &:nth-child(11):hover .percentage-box {
    width: 75%;
  }
  &:nth-child(12):hover .percentage-box {
    width: 60%;
  }

  &:nth-child(13):hover .percentage-box {
    width: 35%;
  }
  &:nth-child(14):hover .percentage-box {
    width: 80%;
  }
  &:nth-child(15):hover .percentage-box {
    width: 85%;
  }
  &:nth-child(16):hover .percentage-box {
    width: 100%;
  }
}
