.contact-hero-section {
  width: 100%;
  position: relative;
  .chs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chs-grid-container {
    width: 100%;
    padding: 7.5rem 0;
    margin: 0 0 10rem 0;
    background-color: #f5f6f7;
    .chs-grid {
      width: 85%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 auto;
      grid-template-rows: auto;
      grid-gap: 5rem;
      .chs-grid-card {
        width: 100%;
        background-color: #323232;
        padding: 3.5rem;
        color: #fff;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          font-size: 2.25rem;
          text-align: center;
        }
        span {
          width: 5rem;
          height: 1px;
          display: flex;
          background-color: #f5f6f7;
          margin: 0.5rem 0 2.5rem 0;
        }
        p,
        a {
          font-size: 1.5rem;
          text-align: center;
          margin: 0 0 0.25rem 0;
          width: 100%;
          color: #fff;
          i {
            font-size: 1.5rem;
            margin: 0 0.5rem 0 0;
            // width: 20%;
          }
        }
      }
    }
  }
}
.whatsapp {
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
  background-color: #323232;
  border-radius: 1000px;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
}
.fiverr-upwork-section {
  width: 100%;
  .fus-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3 {
      font-size: 2.5rem;
    }
    .fus-grid {
      width: 75%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 5rem;
      margin: 7.5rem auto 0 auto;
      .fus-grtid-card {
        width: 100%;
        background-color: #f5f6f7;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7.5rem;
        border-radius: 1.5rem;
        cursor: pointer;
        transition: 0.5s;
        position: relative;
        overflow: hidden;
        p {
          font-size: 1.25rem;
          color: #fff;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 150%);
          z-index: 10;
          transition: 0.5s;
          i {
            margin: 0 0 0 0.5rem;
          }
        }
        * {
          transition: 0.25s;
        }
        svg {
          height: 4em;
          width: max-content;
          object-fit: contain;
        }
        img {
          height: 4em;
          width: max-content;
          object-fit: contain;
        }
        &:hover {
          p {
            transform: translate(-50%, -1.25rem);
          }
        }
      }
      .fus-grtid-card:nth-child(1) {
        background-color: #404145;
        .f-l-c {
          fill: #fff !important;
        }
      }
      .fus-grtid-card:nth-child(2) {
        background-color: #14a800;
        .u-l-c {
          fill: #fff !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .contact-hero-section .chs-grid-container .chs-grid,
  .fiverr-upwork-section .fus-content .fus-grid {
    width: 100%;
    grid-gap: 3.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .contact-hero-section .chs-grid-container .chs-grid,
  .fiverr-upwork-section .fus-content .fus-grid {
    width: 100%;
    grid-gap: 2.5rem;
  }
  .contact-hero-section .chs-grid-container {
    padding: 3.5rem 0;
  }
}
@media screen and (max-width: 850px) {
  .contact-hero-section .chs-grid-container .chs-grid {
    grid-template-columns: 1fr;
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .contact-hero-section .chs-grid-container .chs-grid {
    width: 100%;
  }
  .fiverr-upwork-section .fus-content .fus-grid {
    grid-template-columns: 1fr;
    margin: 3.5rem auto 0 auto;
  }
  .fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card {
    padding: 6.5rem 0;
  }
  .fiverr-upwork-section .fus-content .fus-grid .fus-grtid-card svg {
    height: 3.5rem;
  }
}
