.portfolio-grid-section {
  width: 100%;
  .portfolio-grid {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5rem;
    margin: 5rem auto 0 auto;
    .portfolio-grid-card {
      width: 100%;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        transition: 0.5s;
        height: 27.5rem;
        position: relative;
        z-index: 15;
      }
      div {
        width: 00%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
        overflow: hidden;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 500;
        z-index: 10;
        color: #fff;
        opacity: 0;
        transition: 0.5s;
        display: flex;
        align-items: center;
        i {
          font-size: 2rem;
          margin: 0 0 0 1.5rem;
          display: flex;
        }
      }
      &:hover {
        img {
          filter: blur(10px);
        }
        div {
          width: 100%;
          h2 {
            opacity: 1;
          }
        }
      }
    }
  }
}
.project-section {
  padding: 15rem 0 0 0;
  .project-section-content {
    width: 65%;
    margin: 0 auto;
    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin: 5rem 0 0 0;
      color: #323232;
    }
    .project-heading {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      div {
        h2 {
          font-size: 3.5rem;
          font-weight: 600;
        }
        h6 {
          font-size: 1.5rem;
          color: #949494;
          font-weight: 400;
        }
      }
      a {
        background-color: #323232;
        color: #fff;
        font-size: 1.5rem;
        padding: 1.25rem 2.5rem;
        font-weight: 500;
        text-transform: uppercase;
        i {
          margin: 0 0 0 0.75rem;
        }
      }
    }
    .projects-pictures-grid {
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 5rem;
      margin: 5rem 0 0 0;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
